version: '3.8'

services:
  mongo_db:
    image: mongo:6.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chargeup_backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - mongo_db
    restart: always

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: chargeup_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
